# AWS Profile name in your local ~/.aws/credentials (e.g. anhthu-aws)
AWS_PROFILE=

# AWS Region to run infrastructure and models
AWS_REGION=ap-southeast-2

# AWS Target Account ID
AWS_ACCOUNT_ID=

# Amazon Bedrock Model ID (e.g. amazon.nova-pro-v1:0, anthropic.claude-3-5-sonnet-20241022-v2:0, anthropic.claude-3-haiku-20240307-v1:0)
BEDROCK_MODEL_ID=amazon.nova-pro-v1:0